.shuoshuo{
  cursor: pointer;
  i:hover{
    color: blue;}
}

a{
  &:link {text-decoration:none;}
  &:visited {text-decoration:none;
    color:blue;}
  &:hover {text-decoration:underline;
    color: red;}
  &:active {text-decoration:underline;}
 }